body {display: grid;
grid-template-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas: "header header"
        "intro history"
        "articles caption"
        "footer footer";
    grid-column-gap: 12px;
}
body > * {
outline: 1px solid blue;
}
body > header {grid-row: 1;
grid-column: 1/-1}

body > article {grid-area: intro;}
body > aside {grid-area: history;}
body > section {grid-area: articles;}
body > footer {grid-area: footer;}

/* Grid Styles for the Nested Grid */
section{display: grid;
grid-template-columns: repeat(2, 1fr);}
section > h1 {grid-area: 1/1/2/3;}